@model NetCore.Models.Exam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointOfStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointOfStudent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubjectID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
