@model IEnumerable<NetCore.Models.PhongBan>

@{
    ViewData["Title"] = "Index";
}

<h1>Phòng ban</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhongBanID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TangLamViec)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.PhongBanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TangLamViec)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PhongBanID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PhongBanID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PhongBanID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
