@model NetCore.Models.UniversityViewModel

@{
    ViewData["Title"] = "Sinh Viên";
}

<h1>Sinh Viên</h1>
<h4>Lớp Con của Person</h4>
<br>

<p>
    <a asp-action="Create">+Thêm Sinh viên</a>
</p>
<form asp-controller="Student" asp-action="Index" method="get">
    <p>
        <select asp-for="universityName" asp-items="Model.Universitys">
            <option value="">Tất cả</option>
        </select>
        
        Tìm địa chỉ: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Tìm" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].CCCD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[1].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[2].University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[3].MaSinhVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[4].Address)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CCCD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.University)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSinhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.CCCD">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CCCD">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CCCD">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
